.animated-text-panel {
    &__title {
        color: white;
        background-color: #303468;
        padding: 8px;
        width: fit-content;
        border-radius: 12px;
        text-align: center;
        position: relative;
        top: 0;
        right: -50%;
        transform: translate(-50%, 0);
    }
    color: #303468;
    h1 {
      line-height: 5rem;
    }
  }
  
  
  