.animated-text-panel {
    height: 100vh;
    margin-top: 200px;
    h1 {
      line-height: 5rem;
    }
  }
  /* AnimatedTextPanel.module.css */

  
  .textHighlight {
    background-color: yellow; /* Change this to your desired background color */
    color: red; /* Change this to your desired text color */
    padding: 0 5px;
    display: inline-block;
  }
  
  .normalText {
    display: inline-block;
    overflow: hidden;
  }
  
  